/*.Logo {
    width: 100%;
}
.Logo img{
    width: 25%;
    margin-right: 25%;
}*/
.Logo figcaption{         /* Permet de conserver la sémantique et de placer la légende sur la ligne de l'image */
/*    display: inline;
    font-size: 32px;
    vertical-align: 100%;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Pub{
    width: 100%;
}
/*
@media screen and (max-width:768px){
    .Logo figcaption{
        font-size: 
    }
}*/